<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            
            <div class="row">
              <table class='table'>
                <thead>
                    <tr class='table-dark'>
                        <th>Product Name</th>
                        <th>Product Image</th>
                        <th>Product Quantity</th>
                        <th>Product Price</th>
                        <th>Product Brand</th>
                        <th>Product Description</th>
                    </tr>
            
                </thead>
               
                <br>
                <tr *ngFor="let tempPro of product" style="text-align: start;">
                    <td>{{tempPro.pdt_name}}</td>
                    <td><br><img src={{tempPro.pdt_image}} alt="{{tempPro.pdt_name}}" width="120px" height="30px"><br></td>
                    <td>{{tempPro.pdt_quantity}}</td>
                    <td>{{tempPro.pdt_cost}}</td>
                    <td>{{tempPro.pdt_brand}}</td>
                    <td>{{tempPro.pdt_description}}</td>
                    
                    <br><br>
                    <button type="button" class="btn btn-md btn-success" (click)="buyProduct()">Buy Product</button>

                    
                </tr>
                

                <br>
            </table>
            </div>
            

           
        </div>
    </div>
</div>


