<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            
            <div class="row">
              <table class='table'>
                <thead>
                    <tr class='table-dark'>
                        <th>User Id</th>
                        <th>User FirstName</th>
                        <th>User LastName</th>
                        <th>User MobileNo</th>
                        <th>Product Id</th>
                        <th>PayId</th>
                    </tr>
            
                </thead>
               
                <tr *ngFor="let tempUser of user">
                    <td>{{tempUser.user_Id}}</td>
                    <td>{{tempUser.user_first_name}}</td>
                    <td>{{tempUser.user_last_name}}</td>
                    <td>{{tempUser.user_mobile_no}}</td>
                    <td>{{tempUser.product_Id}}</td>
                    <td>{{tempUser.pay_Id}}</td>
                    <button type="button" class="btn btn-md btn-success" (click)="updateUser(tempUser.user_Id)">Update</button>&nbsp;&nbsp;
                    <button type="button" class="btn btn-md btn-danger" (click) = "deleteUser(tempUser.user_Id)">Delete </button>
                    
                </tr>
                <button class="atu-btn-submit btn btn-info" (click) = "addUser()" >Add User</button>

            </table>
            </div>
            

           
        </div>
    </div>
</div>

