<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            
            <div class="row">
              <table class='table'>
                <thead>
                    <tr class='table-dark'>
                        <th>Order Id</th>
                        <th>Order Date</th>
                        <th>Deliver Date</th>
                        <th>Order Status</th>
                        <th>User Id</th>
                    </tr>
            
                </thead>
               
                <tr *ngFor="let tempOrder of order">
                    <td>{{tempOrder.order_Id}}</td>
                    <td>{{tempOrder.order_date}}</td>
                    <td>{{tempOrder.deliver_date}}</td>
                    <td>{{tempOrder.order_status}}</td>
                    <td>{{tempOrder.user_Id}}</td>
                    <button type="button" class="btn btn-md btn-success" (click)="updateOrder(tempOrder.order_Id)">Update</button>&nbsp;&nbsp;
                    <button type="button" class="btn btn-md btn-danger" (click) = "deleteOrder(tempOrder.order_Id)">Delete </button>
                    
                </tr>
                <button class="atu-btn-submit btn btn-info" (click) = "addOrder()" >Add Order</button>

            </table>
            </div>
            

           
        </div>
    </div>
</div>
